     .upload-btn-wrapper {
         position: relative;
         overflow: hidden;
         display: inline-block;
         text-align: center;
         display: flex;
         justify-content: center;
     }

     .btn {
         border: 2px solid gray;
         color: gray;
         background-color: white;
         padding: 8px 20px;
         border-radius: 8px;
         font-size: 20px;
         font-weight: bold;
     }

     .upload-btn-wrapper input[type=file] {
         border: 2px solid gray;
         color: gray;
         background-color: white;
         padding: 8px 20px;
         border-radius: 8px;
         font-size: 20px;
         font-weight: bold;
     }

     h1 {
         text-align: center;
         margin: 50px auto;
         font-weight: 100;
     }


     html,
     body {
         margin: 0;
         padding: 0;
         font-weight: 300;
         height: 100%;
         background: #053777;
         color: #fff;
         font-size: 16px;
         overflow: hidden;
         background: -moz-linear-gradient(top, #053777 0%, #00659b 100%);
         /* FF3.6+ */

         background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #053777), color-stop(100%, #00659b));
         /* Chrome,Safari4+ */

         background: -webkit-linear-gradient(top, #053777 0%, #00659b 100%);
         /* Chrome10+,Safari5.1+ */

         background: -o-linear-gradient(top, #053777 0%, #00659b 100%);
         /* Opera 11.10+ */

         background: -ms-linear-gradient(top, #053777 0%, #00659b 100%);
         /* IE10+ */

         background: linear-gradient(to bottom, #053777 0%, #00659b 100%);
         /* W3C */

     }

     h1 {
         text-align: center;
         margin: 50px auto;
         font-weight: 100;
     }

     label {
         font-weight: 500;
         display: block;
         margin: 4px 0;
         text-transform: uppercase;
         font-size: 13px;
         overflow: hidden;

         span {
             float: right;
             text-transform: none;
             font-weight: 200;
             line-height: 1em;
             font-style: italic;
             opacity: 0.8;
         }
     }

     .back-to-article {
         color: #fff;
         text-transform: uppercase;
         font-size: 12px;
         position: absolute;
         right: 20px;
         top: 20px;
         text-decoration: none;
         display: inline-block;
         background: rgba(0, 0, 0, 0.6);
         padding: 10px 18px;
         transition: all 0.3s ease-in-out;
         opacity: 0.6;

         &:hover {
             opacity: 1;
             background: rgba(0, 0, 0, 0.8);
         }
     }