/* TEASER STYLES
-------------------------------------------------- */
.teaser {margin-bottom:20px;overflow:auto;}
.teaser-a {}
.teaser-a h2 {padding-bottom:0 !important;font-size:1.9rem;margin:0 0 10px;}
.teaser-a .teaser-excerpt {margin:10px 0 20px;}
.teaser-a .teaser-excerpt p {margin:5px;}
.teaser-b {}
.teaser-b h2 {padding-bottom:0 !important;font-size:1.9rem;margin:10px 0 0;}
.teaser-b .teaser-excerpt {margin:0 0 20px;}
.teaser-b .teaser-excerpt p {margin:0 0 10px;}

.teaser-d-d {clear:both;}
.teaser-d-d .teaser-d-d {height: 140px;margin-bottom:25px;}
.teaser-d-d .teaser-text {float: left;width: 70%;}
.teaser-d-d .teaser-text .title {padding: 0 0 10px;margin: 0;font-size:1.6rem;line-height:1.7rem;}
.teaser-d-d .teaser-text p {font-size: 0.9rem;}
.teaser-d-d .teaser-image {width: 30%;float: left;padding-right: 10px;}

.teaser-d-i {clear:both;}
.teaser.teaser-d-i {margin-top:30px !important;padding-bottom:30px !important;}
.teaser-d-i .teaser-d-d {height: 140px;margin-bottom:25px;}
.teaser-d-i .teaser-text-woi {float: left;width: 100%;}
.teaser-d-i .teaser-text {float: left;width: 70%;}
.teaser-d-i .teaser-text .title, .teaser-d-i .teaser-text-woi .title {padding: 0 0 10px;margin: 0;font-size:1.6rem;line-height:1.7rem;}
.teaser-d-i .teaser-text p, .teaser-d-i .teaser-text-woi p {font-size: 0.9rem;}
.teaser-d-i .teaser-image {width: 30%;float: left;padding-left: 20px;}


.teaser-f {border:1px solid #eee;padding:20px;}
.teaser-f h2 {text-align:center;padding:0;margin:10px 0;}
.teaser-f img {margin:0 auto;display:block;}
.teaser-g {border:1px solid #eee;padding:20px;}
.teaser-g h2 {text-align:center;padding:0;margin:10px 0;}
.teaser-g img {margin:0 auto;display:block;}

/* Teaser base class */
.teaser-hi{}
.teaser-hi .teaser-image {float:left;width:60%;}
.teaser-hi .teaser-image img {max-width: 100%;height: auto;}
.teaser-hi .teaser-text {float:left;width:40%;}
.teaser-hi .teaser-text h2 {margin:10px 0 !important;font-weight:400;}
.teaser-hi .teaser-text h2 a {color:#fff;}
.teaser-hi .teaser-text p {color:#fff;font-size:1rem !important;line-height: 20px !important;margin:10px 0 20px !important;font-weight:400;}
.teaser-hi .teaser-text p a {color:#fff;text-decoration:none;}

@media only screen and (min-width : 1024px) {
    .teaser-hi{}
    .teaser-hi .teaser-inner {}
    .teaser-hi .teaser-image {Width:60% !important;float:left !important;height:310px !important;margin-right:0 !important;}
    .teaser-hi .teaser-image img {display:block;width:auto !important;height:100% !important;}
    .teaser-hi .teaser-text {width:40% !important;background:#1a1a1a !important;right:0 !important;left:0 !important;bottom:0 !important;float:left !important;position:relative !important; height:310px !important;text-align:left !important;padding:20px 20px 0 !important;border:none;margin:0 !important;}
}

.teaser-e {position:relative;}
.teaser-e .teaser-caption {position:absolute;bottom:0;width:100%;}
.teaser-e .teaser-text {background:url(css/img/background-opacity.png);padding-bottom:10px;padding-top:10px;margin-bottom: 0;right:7% !important;left:7% !important;}
.teaser-e h2 {color:#fff;font-size:2.2rem;}
.teaser-e h2 a {color:#fff;}


.teaser-c {position:relative;}
.teaser-c .teaser-caption {position:absolute;bottom:0;width:100%;}
.teaser-c .teaser-text {background:url(css/img/background-opacity.png);padding:5px 10px;margin-bottom: 0;right:7% !important;left:7% !important;}
.teaser-c h2 {color:#fff;font-size:2.2rem;margin:0;padding:0;}
.teaser-c h2 a {color:#fff;}
.teaser-c p {color:#fff;}
.carousel {margin-bottom:20px !important;}
.carousel-a .carousel-caption,
.carousel-b .carousel-caption {background:url(css/img/background-opacity.png);padding-bottom:10px;padding-top:10px;margin-bottom: 20px;right:7% !important;left:7% !important;}
.carousel-a h3,
.carousel-b h3 {color:#fff;font-size:2.2rem;line-height: 2rem}
.carousel-b .carousel-caption {right:0 !important;left:0 !important;margin-bottom:0;bottom:0;}
.carousel-b .carousel-caption p {padding-right:25px;padding-left:25px;}
.carousel-b .carousel-indicators {bottom:0;}

/* CAROUSEL STYLES
-------------------------------------------------- */

/* Carousel base class */
.carousel-d {margin-bottom:0;}

/* Since positioning the image, we need to help out the caption */
.carousel-d .carousel-caption {}

/* Declare heights because of positioning of img element */
.carousel-d .carousel-item {}

.carousel-d .carousel-image {}
.carousel-d .carousel-image img {max-width: 100%;height: auto;}
.carousel-d .carousel-caption h3 {margin:10px 0 !important;font-weight:400;}
.carousel-d .carousel-caption p {font-size:16px !important;line-height: 20px !important;margin:10px 0 !important;font-weight:400;}
.carousel-d .carousel-caption p a {color:#fff;text-decoration:none;}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {margin-bottom: 1.25rem;font-size: 1.25rem;line-height: 1.4;}
}

@media only screen and (max-width : 768px) {
    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {background:#503600;border:none;box-shadow:none;margin-top:20px;}
    .menu ul {width:100%;}
    .navbar-inverse .navbar-nav > li > a {color:#fff;}
    .carousel-caption p {display:none !important; }
    .carousel-caption .pretitle-container {display:none !important;}
}
@media only screen and (min-width : 1024px) {
    body {}
    /*custom carousel*/
    .carousel-d {}
    .carousel-d .carousel-inner {}
    .carousel-d .carousel-image {width:60% !important;float:left !important;height:310px !important;margin-right:0 !important;}
    .carousel-d .carousel-image img {display:block;width:100% !important;}
    .carousel-d .carousel-caption {width:40% !important;background:#1a1a1a !important;right:0 !important;left:0 !important;bottom:0 !important;float:left !important;position:relative !important;height:310px !important;text-align:left !important;padding:20px 20px 0 !important;border:none;margin:0 !important;}
    .carousel-d .carousel-caption h3 {}
    .carousel-d .carousel-caption h3 a {color:#fff !important;font-size:24px !important;}
    .carousel-d .carousel-control-prev {left: 40% !important;}
    .carousel-d .carousel-control-next {}
    .carousel-d .carousel-indicators {margin-left: 40% !important;left: 0 !important;width: 60% !important;bottom: 0 !important;}
}


