 @font-face {
 	font-family: 'nombredelatipografia';
 	src: url("http://localhost/luna/fonts/Chidera.otf") format("opentype");
 	src: url("http://localhost/luna/fonts/Chidera.ttf") format("opentype");
 }

 h1 {

 	font-size: 36px;

 	font-family: 'nombredelatipografia';


 }
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
/* Headings

--------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arbutus Slab', serif;
}

.navbar-brand {
	padding-top: 0.15rem;
}
.navbar-brand>a {
	font-family: 'Arbutus Slab', serif;
	text-transform: uppercase;
}
#masthead .navbar-nav>li a {
	border-bottom-width: 0;
	display: block;
	font-family: 'Open Sans', sans-serif;
	padding: 10px;
	text-transform: uppercase;
}
div#page-sub-header h1 {
	font-family: 'Arbutus Slab', serif;
}
#secondary .widget-title {
	font-family: 'Arbutus Slab', serif;
}
.entry-meta {
	font-family: 'Arbutus Slab', serif;
}