.customize-control-radio-image .ui-button {
    margin:        0;
    border-radius: 0;
    border:        none;
    background:    transparent;
}

.customize-control-radio-image img {
    box-sizing: border-box;
    max-width:  100%;
    height:     auto;
    padding:    1px;
    border:     4px solid transparent;
}

    .customize-control-radio-image img:hover,
    .customize-control-radio-image img:focus {
        border-color: #ddd;
    }

    .customize-control-radio-image .ui-state-active img {
        border-color: #00a0d2;
    }


    .layout-box{
        width:40%;
        margin-left:5%;
        margin-top:20px;
        padding-bottom: 10px;
        display: inline-block;
        margin: auto;
        text-align:center;
        }



    div.radio.radio-adjust{
        margin-left:2%;
    }
